<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/clock.css">
</head>
<body>
    <main>
        <div class="clock">
            <span class="clock-digit-1">0</span>
            <span class="clock-digit-2">0</span>
            <span class="clock-colon">:</span>
            <span class="clock-digit-3">5</span>
            <span class="clock-digit-4">7</span>
        </div>
    </main>
    <script src="../../js/com/bzk9x/wiflikr/clock.js"></script>
</body>
</html>