<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiflikr</title>
    <link rel="stylesheet" href="../styles/style_main.css">
</head>
<body>
    <nav id="title-bar">
        <span class="title">
            Wiflikr
        </span>
        <div class="drag-area" id="drag-area"></div>
        <div class="window-controls">
            <div class="window-control"></div>
            <div class="window-control close"></div>
        </div>
    </nav>
    <main></main>
    <div class="window-dragable-hint-container" id="window-dragable-hint-container">
        <div class="window-dragable-hint"></div>
    </div>
    <script src="../../js/com/bzk9x/wiflikr/Wiflikr.js"></script>
</body>
</html>